{% extends 'base.html' %}

{% load static %}

{% block title %} Recipe Book {% endblock %}

{% block header %} Recipe {% endblock %}

{% block content %}
    <h1>{{recipe.name}}</h1>
    <h3>Made by: {{recipe.author}}</h3>
    <h4>
        Created on: {{recipe.created_on}} <br>
        Last updated on: {{recipe.updated_on}}
    </h4>

    <h2>Ingredients</h2>
    <table>
        <tr>
            <th>Ingredient</th>
            <th>Quantity</th>
        </tr>
        {%for ingredient in recipe.ingredients.all%}
        <tr>
            <td>{{ingredient.ingredient.name}}</td>
            <td>{{ingredient.quantity}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}