<html lang="en">
<head>
    <title>{% block title %} Recipe Book {% endblock %}</title>
</head>
<body>
    <header>
        <h1>Recipe Book {% block header %}{% endblock %}</h1>
        {% if user.is_authenticated %} 
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">
            <button>Login</button>
        </a>
        {% endif %}
    </header>
    {% block content %}{% endblock %}
</body>
</html>